body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: Oleo Script Swash Caps, cursive;
}
p {
    color:white;
    font-size: 20px;
}
#icon {
    color: white;
    margin-right: 40px;
}
#footer {
    margin-top: 40px;
    margin-bottom: 40px;
}
#quote {
    padding-left: 200px;
    padding-right: 220px;
}
.btn {
    font-size: 22px;
}
